<!DOCTYPE html>

<html>

<head>
  <title>About</title>
  <link rel="shortcut icon" href="about:blank">
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by Ross Jones.</p>
    <img class="portrait" src="img/me.jpg">
    <p>It uses data from mapbox.com and darksky.net</p>
  </div>

  {{>footer}}
</body>

</html>